<h3>Pokemons</h3>
<mat-nav-list class="my-list"
              infinite-scroll
              (scrolled)="onScrollDown()"
              [scrollWindow]="false">
  <mat-form-field>
    <input placeholder="Type pokemon ..." matInput #searchBox id="search-box" (input)="search(searchBox.value)" />
  </mat-form-field>

  <mat-list-item *ngFor="let pokemon of pokemons"  (click)="choose(pokemon.id)">
    <img matListAvatar src="../../../assets/img/sprites/{{pokemon.id}}.png" alt="img">  {{pokemon.id}}. {{pokemon.name}}
  </mat-list-item>
</mat-nav-list>
